{
    "swagger": "2.0",
    "info": {
        "title": "Scaleway API",
        "version": "",
        "description": "The Scaleway API allows you to manage servers and resources in a simple, programmatic way using conventional HTTP requests.\nAll features you will find in the web control panel are also available through the API.\n\n## Request and response\n\nOur api works over https and is accessed from two endpoint:\n\n- `account.scaleway.com` domain related to account actions\n\n- `api.scaleway.com` domain related to compute actions\n\nAll data is sent and received as json.\n\n## Constructing Requests\n\nRequests are made of two components:\n\n- Base URL: `https://api.scaleway.com`\n\n- Resource path: `servers`\n\nTo construct a proper request, you need to format the URL as follows:\n\n`https://api.scaleway.com/{resource}`\n\nExample: `https://api.scaleway.com/volumes/f929fe39-63f8-4be8-a80e-1e9c8ae22a76`\n\nThe following code is an example request to retrieve detailed informations about a volume\n\n```\n% curl -H 'X-Auth-Token: 017ce0ce-20ec-4d4ez-b44c-e561a23481d2c' -H 'Content-Type: application/json' https://api.scaleway.com/volumes/f929fe39-63f8-4be8-a80e-1e9c8ae22a76 -i\n\nHTTP/1.1 200 OK\nServer: nginx\nDate: Thu, 22 May 2014 07:55:00 GMT\nContent-Type: application/json\nContent-Length: 1345\nConnection: keep-alive\nX-Sentry-ID: None\nStrict-Transport-Security: max-age=86400\n\n{\n  \"volumes\": [\n    {\n      \"export_uri\": null,\n      \"id\": \"f929fe39-63f8-4be8-a80e-1e9c8ae22a76\",\n      \"name\": \"volume-0-1\",\n      \"organization\": \"000a115d-2852-4b0a-9ce8-47f1134ba95a\",\n      \"server\": null,\n      \"size\": 10000000000,\n      \"volume_type\": \"l_ssd\"\n    },\n    {\n      \"export_uri\": null,\n      \"id\": \"0facb6b5-b117-441a-81c1-f28b1d723779\",\n      \"name\": \"volume-0-2\",\n      \"organization\": \"000a115d-2852-4b0a-9ce8-47f1134ba95a\",\n      \"server\": null,\n      \"size\": 20000000000,\n      \"volume_type\": \"l_ssd\"\n    }\n  ]\n}\n```\n\n## Basic Authentication\n\nYou authenticate to the API by requesting a token. You can create a token from the `account.scaleway.com` domain related to account actions with a POST request on the /tokens HTTP resource.\n\nBasic Authentication process:\n\n- Query via POST request the /tokens resource [see here how to](https://developer.scaleway.com/#tokens-tokens-post)\n\n- Supply an \"X-Auth-Token\" header followed by the token you get previously, e.g. \"4e0b46e4-7c1d-44d4-8ba6-dc5f80694397\"\n\n```\ncurl -X GET -H \"X-Auth-Token: 4e0b46e4-7c1d-44d4-8ba6-dc5f80694397\" -H \"Content-Type: application/json\" https://account.scaleway.com/{resources}\n```\n\n## Errors\n\nWe use conventional HTTP response codes to indicate success or failure of an API request.\n\nIn general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that resulted from the provided information (e.g., a required parameter is missing), and codes in the 5xx range indicate an error with our servers.\n\n### HTTP Status Code Summary\n\n- `200 OK` - Everything worked as expected.\n\n- `400 Bad Request` - Often missing a required parameter.\n\n- `401 Unauthorized` - No valid API key provided.\n\n- `402 Request Failed` - Parameters were valid but request failed.\n\n- `403 Forbidden` - Insufficient privileges to access requested resource.\n\n- `404 Not Found` - The requested item doesn't exist.\n\n- `50x` Server errors - something went wrong on api domain's end.\n\nInput and output data must be valid JSON with appropriate Content-Type header set.\n\n### Attributes\n\n- type:\n\n  - `invalid_request_error`: Occur when your request has invalid parameters.\n  - `invitalid_auth`: Arise when there is a problem of authentication.\n  - `uknown_resource`: Occur when the resource doesn't exist.\n  - `authorization_required`: You don't have sufficient right to access the resource.\n  - `api_error`: API errors use in case of problem with api domain's servers\n\n- message:\n\n  - A human readable error giving more details about the error\n\n- fields (Optional):\n\n  - An array of parameters with an human readable message giving more details about the error.\n\n### Errors responses example\n\n+ Response 400 (application/json)\n\n        {\n            \"fields\": {\n                \"email\": [\n                    \"incorrect email address\",\n                    \"required key not provided\"\n                ],\n                \"firstname\": [\n                    \"length of value must be at least 2\",\n                    \"required key not provided\"\n                ],\n                \"lastname\": [\n                    \"length of value must be at least 2\",\n                    \"required key not provided\"\n                ]\n            },\n            \"message\": \"Validation Error\",\n            \"type\": \"invalid_request_error\"\n        }\n\n+ Response 401 (application/json)\n\n        {\n            \"message\": \"The header 'X-Auth-Token' is missing\",\n            \"type\": \"invalid_auth\"\n        }\n\n+ Response 403 (application/json)\n\n        {\n          \"message\": \"The token provided doesn't have the requested permission.\",\n          \"type\": \"authorization_required\"\n        }\n\n+ Response 404 (application/json)\n\n        {\n            \"message\": \"User not found\",\n            \"type\": \"unknown_resource\"\n        }\n\n\n"
    },
    "host": "api.scaleway.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/tokens": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "token": {
                                    "creation_date": "2014-05-22T08:05:57.556385+00:00",
                                    "expires": null,
                                    "id": "9de8f869-c58e-4aa3-9208-2d4eaff5fa20",
                                    "inherits_user_perms": true,
                                    "permissions": [],
                                    "roles": {
                                        "organization": null,
                                        "role": null
                                    },
                                    "user_id": "5bea0358-db40-429e-bd82-914686a7e7b9"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a token",
                "description": "Authenticates a user against their username, password, and then returns a new Token, which can be used until it expires.\n\nThe response is an object that has a key called `token`. This key contain a standard `token` object.\n\n",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "email",
                                "password"
                            ],
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string"
                                },
                                "expires": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "List all tokens",
                "description": "List all Tokens associate with your account\n\nThe response is an object that has a key called `tokens`. This key contain an array of token objects each of which contain the standard `token` attributes.\n\n",
                "tags": [
                    "Tokens"
                ],
                "parameters": []
            }
        },
        "/tokens/{token_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "token": {
                                    "creation_date": "2014-05-22T08:06:51.742826+00:00",
                                    "expires": "2014-05-20T14:05:06.393875+00:00",
                                    "id": "654c95b0-2cf5-41a3-b3cc-733ffba4b4b7",
                                    "inherits_user_perms": true,
                                    "permissions": [],
                                    "roles": {
                                        "organization": null,
                                        "role": null
                                    },
                                    "user_id": "5bea0358-db40-429e-bd82-953016a7e2s7"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a token",
                "description": "List an individual Token\n\nThe response is an object that has a key called `token`. This key contain a standard `token` object.\n\n",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "token_id",
                        "in": "path",
                        "description": "Token unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Update a token",
                "description": "Increase Token expiration time of 30 minutes\n\nThe response is an object that has a key called `token`. This key contain a standard `token` object.\n\n",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "token_id",
                        "in": "path",
                        "description": "Token unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [],
                            "properties": {
                                "expires": {
                                    "type": "boolean"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove a token",
                "description": "Delete an individual token\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Tokens"
                ],
                "parameters": [
                    {
                        "name": "token_id",
                        "in": "path",
                        "description": "Token unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/organizations": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "organizations": [
                                    {
                                        "id": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "name": "jsnow@got.com",
                                        "users": [
                                            {
                                                "email": "jsnow@got.com",
                                                "firstname": "John",
                                                "fullname": "John Snow",
                                                "id": "59a98700-8622-4495-a11a-e1efbfac5972",
                                                "lastname": "Snow",
                                                "organizations": [
                                                    {
                                                        "id": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                                        "name": "jsnow@got.com"
                                                    }
                                                ],
                                                "roles": [
                                                    {
                                                        "organization": {
                                                            "id": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                                            "name": "jsnow@got.com"
                                                        },
                                                        "role": "manager"
                                                    }
                                                ],
                                                "ssh_public_keys": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "List all organizations",
                "description": "List all Organizations associate with your account\n\nThe response is an object that has a key called `organizations`. This key contain an array of organization objects each of which contain the standard `organization` attributes.\n\n",
                "tags": [
                    "Organizations"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/organizations/{orga_id}/quotas": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "List all quotas",
                "description": "List all Quotas of the given organization.\n\nThe response is an object that has a key called `quotas`. This key contain a standard `quotas` object.\n\n",
                "tags": [
                    "Organizations"
                ],
                "parameters": [
                    {
                        "name": "orga_id",
                        "in": "path",
                        "description": "Organization unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/users/{user_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Retrieve a user",
                "description": "List informations about your user account\n\nThe response is an object that has a key called `user`. This key contain a standard `user` object.\n\n",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/servers": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "server": {
                                    "bootscript": null,
                                    "dynamic_public_ip": false,
                                    "id": "3cb18e2d-f4f7-48f7-b452-59b88ae8fc8c",
                                    "image": {
                                        "id": "85917034-46b0-4cc5-8b48-f0a2245e357e",
                                        "name": "ubuntu working"
                                    },
                                    "name": "my_server",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "private_ip": null,
                                    "public_ip": null,
                                    "state": "running",
                                    "tags": [
                                        "test",
                                        "www"
                                    ],
                                    "volumes": {
                                        "0": {
                                            "export_uri": null,
                                            "id": "d9257116-6919-49b4-a420-dcfdff51fcb1",
                                            "name": "vol simple snapshot",
                                            "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                            "server": {
                                                "id": "3cb18e2d-f4f7-48f7-b452-59b88ae8fc8c",
                                                "name": "my_server"
                                            },
                                            "size": 10000000000,
                                            "volume_type": "l_ssd"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new server",
                "description": "Create a new server\n\nThe response is an object that has a key called `server`. This key contain a standard `server` object.\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "organization",
                                "image",
                                "volumes"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "organization": {
                                    "type": "string"
                                },
                                "image": {
                                    "type": "string"
                                },
                                "volumes": {
                                    "type": "array"
                                },
                                "tags": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "servers": [
                                    {
                                        "bootscript": null,
                                        "dynamic_public_ip": false,
                                        "id": "741db378-6b87-46d4-a8c5-4e46a09ab1f8",
                                        "image": {
                                            "id": "85917034-46b0-4cc5-8b48-f0a2245e357e",
                                            "name": "ubuntu working"
                                        },
                                        "name": "my_server",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "private_ip": null,
                                        "public_ip": null,
                                        "state": "running",
                                        "tags": [
                                            "test",
                                            "www"
                                        ],
                                        "volumes": {
                                            "0": {
                                                "export_uri": null,
                                                "id": "c1eb8f3a-4f0b-4b95-a71c-93223e457f5a",
                                                "name": "vol simple snapshot",
                                                "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                                "server": {
                                                    "id": "741db378-6b87-46d4-a8c5-4e46a09ab1f8",
                                                    "name": "my_server"
                                                },
                                                "size": 10000000000,
                                                "volume_type": "l_ssd"
                                            }
                                        }
                                    },
                                    {
                                        "bootscript": null,
                                        "dynamic_public_ip": false,
                                        "id": "0e9f85af-b6aa-401e-a00d-484f832c5024",
                                        "image": {
                                            "id": "85917034-46b0-4cc5-8b48-f0a2245e357e",
                                            "name": "ubuntu working"
                                        },
                                        "name": "my_server",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "private_ip": null,
                                        "public_ip": null,
                                        "state": "running",
                                        "tags": [
                                            "test",
                                            "www"
                                        ],
                                        "volumes": {
                                            "0": {
                                                "export_uri": null,
                                                "id": "fb09bb31-ecd9-4dff-8b55-b6e45715199d",
                                                "name": "vol simple snapshot",
                                                "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                                "server": {
                                                    "id": "0e9f85af-b6aa-401e-a00d-484f832c5024",
                                                    "name": "my_server"
                                                },
                                                "size": 10000000000,
                                                "volume_type": "l_ssd"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "List all servers",
                "description": "List all servers associate with your account\n\nThe response is an object that has a key called `servers`. This key contain an array of server objects each of which contain the standard `server` attributes.\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/servers/{server_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "server": {
                                    "dynamic_ip_required": true,
                                    "name": "cocky-albattani",
                                    "modification_date": "2015-10-08T15:53:50.098349+00:00",
                                    "tags": [
                                        "hello=world",
                                        "prod"
                                    ],
                                    "state_detail": "provisioning node",
                                    "image": {
                                        "default_bootscript": {
                                            "kernel": {
                                                "dtb": "dtb/pimouss-computing.dtb.4.0.5-235-docker",
                                                "path": "kernel/pimouss-uImage-4.0.5-235-docker",
                                                "id": "a2883579-90a2-1835-7990-a288357990a2",
                                                "title": "Pimouss 4.0.5-235-docker"
                                            },
                                            "title": "4.0.5-docker #235",
                                            "public": false,
                                            "initrd": {
                                                "path": "initrd/c1-uInitrd-2015.06.08",
                                                "id": "bf341982-abbf-1419-82ab-bf341982abbf",
                                                "title": "C1 uInitrd (2015/06/08)"
                                            },
                                            "bootcmdargs": {
                                                "id": "817c19a2-9b81-1c19-a29b-817c19a29b81",
                                                "value": "LINUX_COMMON ip=dhcp boot=local root=/dev/nbd0 nbd.max_parts=8 cgroup_enable=memory swapaccount=1"
                                            },
                                            "organization": "65ef1eb6-b765-1f1e-b6b7-65ef1eb6b765",
                                            "id": "e53caaf9-43e5-1caa-f943-e53caaf943e5"
                                        },
                                        "creation_date": "2015-07-23T14:26:37.812947+00:00",
                                        "name": "Docker 1.7.1",
                                        "modification_date": "2015-09-23T14:42:22.508589+00:00",
                                        "organization": "ea57600b-06ea-1760-0b06-ea57600b06ea",
                                        "extra_volumes": "[]",
                                        "arch": "arm",
                                        "id": "d8d51776-cad8-1517-76ca-d8d51776cad8",
                                        "root_volume": {
                                            "size": 50000000000,
                                            "id": "95b6f27a-5d95-16f2-7a5d-95b6f27a5d95",
                                            "volume_type": "l_ssd",
                                            "name": "scw-app-docker-latest-2015-07-23_16:22"
                                        },
                                        "public": true
                                    },
                                    "hostname": "cocky-albattani",
                                    "creation_date": "2015-10-08T15:53:46.778396+00:00",
                                    "public_ip": {
                                        "dynamic": true,
                                        "id": "3d53d1de-4d3d-13d1-de4d-3d53d1de4d3d",
                                        "address": "212.47.227.255"
                                    },
                                    "state": "starting",
                                    "bootscript": null,
                                    "private_ip": "10.1.52.100",
                                    "volumes": {
                                        "0": {
                                            "size": 50000000000,
                                            "name": "cocky-albattani-scw-app-docker-latest-2015-07-23_16:22",
                                            "modification_date": "2015-10-08T15:53:46.778396+00:00",
                                            "organization": "d4510651-c4d4-1106-51c4-d4510651c4d4",
                                            "export_uri": "nbd://10.1.52.110:4416",
                                            "creation_date": "2015-10-08T15:53:46.778396+00:00",
                                            "id": "2fd6e147-a52f-16e1-47a5-2fd6e147a52f",
                                            "volume_type": "l_ssd",
                                            "server": {
                                                "id": "d2de1908-07d2-1e19-0807-d2de190807d2",
                                                "name": "cocky-albattani"
                                            }
                                        },
                                        "1": {
                                            "size": 50000000000,
                                            "name": "50G",
                                            "modification_date": "2015-10-08T15:53:47.386985+00:00",
                                            "organization": "d4510651-c4d4-1106-51c4-d4510651c4d4",
                                            "export_uri": "nbd://10.1.52.110:4417",
                                            "creation_date": "2015-10-08T15:53:45.542890+00:00",
                                            "id": "43ce0396-a243-1e03-96a2-43ce0396a243",
                                            "volume_type": "l_ssd",
                                            "server": {
                                                "id": "d2de1908-07d2-1e19-0807-d2de190807d2",
                                                "name": "cocky-albattani"
                                            }
                                        },
                                        "2": {
                                            "size": 50000000000,
                                            "name": "50G",
                                            "modification_date": "2015-10-08T15:53:47.386869+00:00",
                                            "organization": "d4510651-c4d4-1106-51c4-d4510651c4d4",
                                            "export_uri": "nbd://10.1.52.110:4418",
                                            "creation_date": "2015-10-08T15:53:46.219710+00:00",
                                            "id": "0af1a2de-cc0a-11a2-decc-0af1a2decc0a",
                                            "volume_type": "l_ssd",
                                            "server": {
                                                "id": "d2de1908-07d2-1e19-0807-d2de190807d2",
                                                "name": "cocky-albattani"
                                            }
                                        }
                                    },
                                    "security_group": {
                                        "id": "610ff44e-7561-1ff4-4e75-610ff44e7561",
                                        "name": "Base group"
                                    },
                                    "organization": "d4510651-c4d4-1106-51c4-d4510651c4d4",
                                    "id": "d2de1908-07d2-1e19-0807-d2de190807d2",
                                    "location": {
                                        "blade_id": "5",
                                        "platform_id": "11",
                                        "chassis_id": "11",
                                        "node_id": "11"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a server",
                "description": "List an individual server\n\nThe response is an object that has a key called `server`. This key contain a standard `server` object.\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "path",
                        "description": "Server unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "server": {
                                    "bootscript": null,
                                    "dynamic_public_ip": false,
                                    "id": "741db378-6b87-46d4-a8c5-4e46a09ab1f8",
                                    "image": {
                                        "id": "85917034-46b0-4cc5-8b48-f0a2245e357e",
                                        "name": "ubuntu working"
                                    },
                                    "name": "my_server",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "private_ip": null,
                                    "public_ip": null,
                                    "state": "running",
                                    "tags": [
                                        "prod",
                                        "www",
                                        "new"
                                    ],
                                    "volumes": {
                                        "0": {
                                            "export_uri": null,
                                            "id": "c1eb8f3a-4f0b-4b95-a71c-93223e457f5a",
                                            "name": "vol simple snapshot",
                                            "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                            "server": {
                                                "id": "741db378-6b87-46d4-a8c5-4e46a09ab1f8",
                                                "name": "my_server"
                                            },
                                            "size": 10000000000,
                                            "volume_type": "l_ssd"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Update a server",
                "description": "Update details about a server\n\nThe response is an object that has a key called `server`. This key contain a standard `server` object.\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "path",
                        "description": "Server unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove a server",
                "description": "Delete a server\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "path",
                        "description": "Server unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/servers/{server_id}/action": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "actions": [
                                    "poweron",
                                    "poweroff",
                                    "reboot"
                                ]
                            }
                        }
                    }
                },
                "summary": "List all actions",
                "description": "List all actions available for the secified server\n\nThe response is an object that has a key called `actions`. This key contain an array of action\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "path",
                        "description": "Server unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "post": {
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "task": {
                                    "description": "server_poweroff",
                                    "href_from": "/servers/741db378-6b87-46d4-a8c5-4e46a09ab1f8/action",
                                    "id": "a8a1775c-0dda-4f52-87b2-4e8101d68d6e",
                                    "progress": "0",
                                    "status": "pending"
                                }
                            }
                        }
                    }
                },
                "summary": "Execute an action",
                "description": "Execute an action on a server\n\nThe response is an object that has a key called `task`. This key contain a standard `task` object.\n\n",
                "tags": [
                    "Servers"
                ],
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "path",
                        "description": "Server unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "server_id",
                        "in": "path",
                        "description": "Server unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "action",
                        "in": "body",
                        "description": "Action to execute",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/volumes": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "volume": {
                                    "export_uri": null,
                                    "id": "c675f420-cfeb-48ff-ba2a-9d2a4dbe3fcd",
                                    "name": "volume-0-3",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "server": null,
                                    "size": 10000000000,
                                    "volume_type": "l_ssd"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new volume",
                "description": "Create a new volume\n\nThe response is an object that has a key called `volume`. This key contain a standard `volume` object.\n\n",
                "tags": [
                    "Volumes"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "organization",
                                "volume_type: `l_ssd`",
                                "size"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "organization": {
                                    "type": "string"
                                },
                                "volume_type: `l_ssd`": {
                                    "type": "string"
                                },
                                "size": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "volumes": [
                                    {
                                        "export_uri": null,
                                        "id": "f929fe39-63f8-4be8-a80e-1e9c8ae22a76",
                                        "name": "volume-0-1",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "server": null,
                                        "size": 10000000000,
                                        "volume_type": "l_ssd"
                                    },
                                    {
                                        "export_uri": null,
                                        "id": "0facb6b5-b117-441a-81c1-f28b1d723779",
                                        "name": "volume-0-2",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "server": null,
                                        "size": 20000000000,
                                        "volume_type": "l_ssd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Retrieves all volumes",
                "description": "List all volumes associate with your account\n\nThe response is an object that has a key called `volumes`. This key contain an array of volume objects each of which contain the standard `volume` attributes.\n\n",
                "tags": [
                    "Volumes"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/volumes/{volume_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "volume": {
                                    "export_uri": null,
                                    "id": "f929fe39-63f8-4be8-a80e-1e9c8ae22a76",
                                    "name": "volume-0-1",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "server": null,
                                    "size": 10000000000,
                                    "volume_type": "l_ssd"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieves informations about a volume",
                "description": "List an individual volume\n\nThe response is an object that has a key called `volume`. This key contain a standard `volume` object.\n\n",
                "tags": [
                    "Volumes"
                ],
                "parameters": [
                    {
                        "name": "volume_id",
                        "in": "path",
                        "description": "Volume unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete a volume",
                "description": "Delete a volume\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Volumes"
                ],
                "parameters": [
                    {
                        "name": "volume_id",
                        "in": "path",
                        "description": "Volume unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/snapshots": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "snapshot": {
                                    "base_volume": {
                                        "id": "701a8946-ff9d-4579-95e3-1c2c2d0f892d",
                                        "name": "vol simple snapshot"
                                    },
                                    "creation_date": "2014-05-22T12:10:05.596769+00:00",
                                    "id": "f0361e7b-cbe4-4882-a999-945192b7171b",
                                    "name": "snapshot-0-1",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "size": 10000000000,
                                    "state": "snapshotting",
                                    "volume_type": "l_ssd"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a snapshot",
                "description": "Create a new snapshot\n\nThe response is an object that has a key called `snapshot`. This key contain a standard `snapshot` object.\n\n",
                "tags": [
                    "Snapshots"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "organization",
                                "volume_id"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "organization": {
                                    "type": "string"
                                },
                                "volume_id": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "snapshots": [
                                    {
                                        "base_volume": {
                                            "id": "09a4184c-733b-43c8-99c3-f1dde30536fe",
                                            "name": "vol simple snapshot"
                                        },
                                        "creation_date": "2014-05-22T12:11:06.055998+00:00",
                                        "id": "6f418e5f-b42d-4423-a0b5-349c74c454a4",
                                        "name": "snapshot-0-1",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "size": 10000000000,
                                        "state": "snapshotting",
                                        "volume_type": "l_ssd"
                                    },
                                    {
                                        "base_volume": {
                                            "id": "09a4184c-733b-43c8-99c3-f1dde30536fe",
                                            "name": "vol simple snapshot"
                                        },
                                        "creation_date": "2014-05-22T12:13:09.877961+00:00",
                                        "id": "c6ff5501-eb35-44b8-aa01-8777211a830b",
                                        "name": "snapshot-0-2",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "size": 10000000000,
                                        "state": "snapshotting",
                                        "volume_type": "l_ssd"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "List all snapshots",
                "description": "List all snapshots associate with your account\n\nThe response is an object that has a key called `snapshots`. This key contain an array of snapshot objects each of which contain the standard `snapshot` attributes.\n\n",
                "tags": [
                    "Snapshots"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/snapshots/{snapshot_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "snapshot": {
                                    "base_volume": {
                                        "id": "09a4184c-733b-43c8-99c3-f1dde30536fe",
                                        "name": "vol simple snapshot"
                                    },
                                    "creation_date": "2014-05-22T12:11:06.055998+00:00",
                                    "id": "6f418e5f-b42d-4423-a0b5-349c74c454a4",
                                    "name": "snapshot-0-1",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "size": 10000000000,
                                    "state": "snapshotting",
                                    "volume_type": "l_ssd"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a snapshot",
                "description": "List an individual snapshot\n\nThe response is an object that has a key called `snapshot`. This key contain a standard `snapshot` object.\n\n",
                "tags": [
                    "Snapshots"
                ],
                "parameters": [
                    {
                        "name": "snapshot_id",
                        "in": "path",
                        "description": "Snapshot unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "snapshot": {
                                    "base_volume": {
                                        "id": "09a4184c-733b-43c8-99c3-f1dde30536fe",
                                        "name": "vol simple snapshot"
                                    },
                                    "creation_date": "2014-05-22T12:11:06.055998+00:00",
                                    "id": "6f418e5f-b42d-4423-a0b5-349c74c454a4",
                                    "name": "snapshot-0-1",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "size": 10000000000,
                                    "state": "snapshotting",
                                    "volume_type": "l_ssd"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a snapshot",
                "description": "Update details about a snapshot\n\nThe response is an object that has a key called `snapshot`. This key contain a standard `snapshot` object.\n\n",
                "tags": [
                    "Snapshots"
                ],
                "parameters": [
                    {
                        "name": "snapshot_id",
                        "in": "path",
                        "description": "Snapshot unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "organization"
                            ],
                            "properties": {
                                "organization": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove a snapshot",
                "description": "Delete a snapshot\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Snapshots"
                ],
                "parameters": [
                    {
                        "name": "snapshot_id",
                        "in": "path",
                        "description": "Snapshot unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/images": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "image": {
                                    "arch": "arm",
                                    "creation_date": "2014-05-22T12:56:56.984011+00:00",
                                    "extra_volumes": "[]",
                                    "from_image": null,
                                    "from_server": null,
                                    "id": "98bf3ac2-a1f5-471d-8c8f-1b706ab57ef0",
                                    "marketplace_key": null,
                                    "modification_date": "2014-05-22T12:56:56.984011+00:00",
                                    "name": "my_image",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "public": false,
                                    "root_volume": {
                                        "id": "f0361e7b-cbe4-4882-a999-945192b7171b",
                                        "name": "vol-0-1"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new image",
                "description": "Create a new image\n\nThe response is an object that has a key called `image`. This key contain a standard `image` object.\n\n",
                "tags": [
                    "Images"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "organization",
                                "name",
                                "arch",
                                "root_volume"
                            ],
                            "properties": {
                                "organization": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "arch": {
                                    "type": "string"
                                },
                                "root_volume": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "images": [
                                    {
                                        "arch": "arm",
                                        "creation_date": "2014-05-22T12:56:56.984011+00:00",
                                        "extra_volumes": "[]",
                                        "from_image": null,
                                        "from_server": null,
                                        "id": "98bf3ac2-a1f5-471d-8c8f-1b706ab57ef0",
                                        "marketplace_key": null,
                                        "modification_date": "2014-05-22T12:56:56.984011+00:00",
                                        "name": "my_image",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "public": false,
                                        "root_volume": {
                                            "id": "f0361e7b-cbe4-4882-a999-945192b7171b",
                                            "name": "vol-0-1"
                                        }
                                    },
                                    {
                                        "arch": "arm",
                                        "creation_date": "2014-05-22T12:57:22.514299+00:00",
                                        "extra_volumes": "[]",
                                        "from_image": null,
                                        "from_server": null,
                                        "id": "1f73d975-35fc-4365-9ead-8dab7e54152f",
                                        "marketplace_key": null,
                                        "modification_date": "2014-05-22T12:57:22.514299+00:00",
                                        "name": "my_image_1",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "public": false,
                                        "root_volume": {
                                            "id": "f0361e7b-cbe4-4882-a999-945192b7171b",
                                            "name": "vol-0-2"
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "List all images",
                "description": "List all images associate with your account\n\nThe response is an object that has a key called `images`. This key contain an array of image objects each of which contain the standard `images` attributes.\n\n",
                "tags": [
                    "Images"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/images/{image_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "image": {
                                    "arch": "arm",
                                    "creation_date": "2014-05-22T12:56:56.984011+00:00",
                                    "extra_volumes": "[]",
                                    "from_image": null,
                                    "from_server": null,
                                    "id": "98bf3ac2-a1f5-471d-8c8f-1b706ab57ef0",
                                    "marketplace_key": null,
                                    "modification_date": "2014-05-22T12:56:56.984011+00:00",
                                    "name": "my_image",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "public": false,
                                    "root_volume": {
                                        "id": "f0361e7b-cbe4-4882-a999-945192b7171b",
                                        "name": "vol-0-1"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieves an image",
                "description": "List an individual image\n\nThe response is an object that has a key called `image`. This key contain a standard `image` object.\n\n",
                "tags": [
                    "Images"
                ],
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "description": "Image unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "image": {
                                    "arch": "arm",
                                    "creation_date": "2014-05-22T12:56:56.984011+00:00",
                                    "extra_volumes": "[]",
                                    "from_image": null,
                                    "from_server": null,
                                    "id": "98bf3ac2-a1f5-471d-8c8f-1b706ab57ef0",
                                    "marketplace_key": null,
                                    "modification_date": "2014-05-22T13:00:15.462764+00:00",
                                    "name": "my_image_old",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "public": false,
                                    "root_volume": {
                                        "id": "f0361e7b-cbe4-4882-a999-945192b7171b",
                                        "name": "TOTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Update an image",
                "description": "Update details about a image\n\nThe response is an object that has a key called `image`. This key contain a standard `image` object.\n\n",
                "tags": [
                    "Images"
                ],
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "description": "Image unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete an image",
                "description": "Delete an image\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Images"
                ],
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "description": "Image unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/ips": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "ip": {
                                    "address": "212.47.226.88",
                                    "id": "b50cd740-892d-47d3-8cbf-88510ef626e7",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "server": null
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new IP",
                "description": "Create a new reserved IP address\n\nThe response is an object that has a key called `ip`. This key contain a standard `ip` object.\n\n",
                "tags": [
                    "IPs"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "organization"
                            ],
                            "properties": {
                                "organization": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "ips": [
                                    {
                                        "address": "212.47.226.88",
                                        "id": "b50cd740-892d-47d3-8cbf-88510ef626e7",
                                        "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                        "server": null
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Retrieves all IPs addresses",
                "description": "List all IPs associate with your account\n\nThe response is an object that has a key called `ips`. This key contain an array of ip objects each of which contain the standard `ip` attributes.\n\n",
                "tags": [
                    "IPs"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/ips/{ip_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "ip": {
                                    "address": "212.47.226.88",
                                    "id": "b50cd740-892d-47d3-8cbf-88510ef626e7",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "server": null
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve an IP address",
                "description": "List an individual IP address\n\nThe response is an object that has a key called `ip`. This key contain a standard `ip` object.\n\n",
                "tags": [
                    "IPs"
                ],
                "parameters": [
                    {
                        "name": "ip_id",
                        "in": "path",
                        "description": "Ip unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "ip": {
                                    "address": "212.47.226.88",
                                    "id": "b50cd740-892d-47d3-8cbf-88510ef626e7",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "server": {
                                        "id": "c2d8994f-1582-413e-8d48-c53076db06cc",
                                        "name": "default_server_name - acfb51"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Attach an IP address",
                "description": "Allow you to remap an IP address to another server\n\nThe response is an object that has a key called `ip`. This key contain a standard `ip` object.\n\n",
                "tags": [
                    "IPs"
                ],
                "parameters": [
                    {
                        "name": "ip_id",
                        "in": "path",
                        "description": "Ip unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Remove an IP address",
                "description": "Delete a server\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "IPs"
                ],
                "parameters": [
                    {
                        "name": "ip_id",
                        "in": "path",
                        "description": "Ip unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/security_groups": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "security_group": {
                                    "description": "Security group 01",
                                    "enable_default_security": true,
                                    "id": "adb5887b-5ab5-445a-ae70-276df95a9852",
                                    "name": "security-group-01",
                                    "organization": "000a115d-2852-4b0a-9ce8-47f1134ba95a",
                                    "organization_default": false,
                                    "servers": []
                                }
                            }
                        }
                    }
                },
                "summary": "Create a security group",
                "description": "Create a new security group\n\nThe response is an object that has a key called `security_group`. This key contain a standard `security_group` object.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "organization",
                                "name",
                                "description"
                            ],
                            "properties": {
                                "organization": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "security_groups": [
                                    {
                                        "description": "Base security group",
                                        "enable_default_security": true,
                                        "id": "000a115d-2852-4b1a-9ce8-47f1134ba95a",
                                        "name": "Base group",
                                        "organization": "ecc1c86a-eabb-43a7-9c0a-77e371753c0a",
                                        "organization_default": true,
                                        "servers": [
                                            {
                                                "id": "b5614869-1967-9ce8-8cd2-801febf9a3f9",
                                                "name": "scw-9b0823"
                                            },
                                            {
                                                "id": "4167bf23-9ce8-4790-2852-d7c5b86934df",
                                                "name": "scw-9b088e"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "List all security groups",
                "description": "List all security groups associate with your account\n\nThe response is an object that has a key called `security_groups`. This key contain an array of security group objects each of which contain the standard `security_groups` attributes.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/security_groups/{group_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "security_group": {
                                    "description": "Base security group",
                                    "enable_default_security": true,
                                    "id": "000a115d-2852-4b1a-9ce8-47f1134ba95a",
                                    "name": "Base group",
                                    "organization": "ecc1c86a-eabb-43a7-9c0a-77e371753c0a",
                                    "organization_default": true,
                                    "servers": [
                                        {
                                            "id": "b5614869-1967-9ce8-8cd2-801febf9a3f9",
                                            "name": "scw-9b0823"
                                        },
                                        {
                                            "id": "4167bf23-9ce8-4790-2852-d7c5b86934df",
                                            "name": "scw-9b088e"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieves a security group",
                "description": "List an individual security group\n\nThe response is an object that has a key called `security_group`. This key contain a standard `security_group` object.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group id unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "security_group": {
                                    "description": "Security group 02",
                                    "enable_default_security": true,
                                    "id": "000a115d-2852-4b1a-9ce8-47f1134ba95a",
                                    "name": "security-group-02",
                                    "organization": "ecc1c86a-eabb-43a7-9c0a-77e371753c0a",
                                    "organization_default": true,
                                    "servers": [
                                        {
                                            "id": "b5614869-1967-9ce8-8cd2-801febf9a3f9",
                                            "name": "scw-9b0823"
                                        },
                                        {
                                            "id": "4167bf23-9ce8-4790-2852-d7c5b86934df",
                                            "name": "scw-9b088e"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Update a security group",
                "description": "Update a security group details\n\nThe response is an object that has a key called `security_group`. This key contain a standard `security_group` object.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group id unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete a security group",
                "description": "Delete a security group\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group id unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/security_groups/{group_id}/rules": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "rule": {
                                    "direction": "inbound",
                                    "protocol": "TCP",
                                    "ip_range": "0.0.0.0/0",
                                    "dest_port_from": null,
                                    "action": "drop",
                                    "position": 2,
                                    "dest_port_to": null,
                                    "editable": null,
                                    "id": "ef2136c9-6c21-491a-b238-b38de24726a7"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new rule",
                "description": "Create a new rule\n\nThe response is an object that has a key called `rule`. This key contain a standard `rule` object.\n\naction: \"accept\"\ndirection: \"outbound\"\nip_range: \"0.0.0.0/0\"\nprotocol: \"ICMP\"\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "required": [
                                "action",
                                "direction",
                                "ip_range",
                                "protocol"
                            ],
                            "properties": {
                                "organization": {
                                    "type": "string"
                                },
                                "action": {
                                    "type": "string"
                                },
                                "direction": {
                                    "type": "string"
                                },
                                "ip_range": {
                                    "type": "string"
                                },
                                "protocol": {
                                    "type": "string"
                                },
                                "dest_port_from": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "rules": [
                                    {
                                        "direction": "outbound",
                                        "protocol": "TCP",
                                        "ip_range": "0.0.0.0/0",
                                        "dest_port_from": 25,
                                        "action": "drop",
                                        "position": 1,
                                        "dest_port_to": null,
                                        "editable": false,
                                        "id": "58909be7-d17c-4ac8-9eb3-23d5fc58abc5"
                                    },
                                    {
                                        "direction": "outbound",
                                        "protocol": "TCP",
                                        "ip_range": "0.0.0.0/0",
                                        "dest_port_from": 465,
                                        "action": "drop",
                                        "position": 2,
                                        "dest_port_to": null,
                                        "editable": false,
                                        "id": "25680235-108b-4bbc-8e25-114303d950bd"
                                    },
                                    {
                                        "direction": "outbound",
                                        "protocol": "TCP",
                                        "ip_range": "0.0.0.0/0",
                                        "dest_port_from": 587,
                                        "action": "drop",
                                        "position": 3,
                                        "dest_port_to": null,
                                        "editable": false,
                                        "id": "4a31b633-118e-4900-bd52-facf1085fc8d"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "List all rules",
                "description": "List all rules for a security group\n\nThe response is an object that has a key called `rules`. This key contain an array of rules for a security group each of which contain the standard `rule` attributes.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/security_groups/{group_id}/rules/{rule_id}": {
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "rule": {
                                    "direction": "outbound",
                                    "protocol": "TCP",
                                    "ip_range": "0.0.0.0/0",
                                    "dest_port_from": null,
                                    "action": "drop",
                                    "position": 2,
                                    "dest_port_to": null,
                                    "editable": null,
                                    "id": "ef2136c9-6c21-491a-b238-b38de24726a7"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a security rule",
                "description": "Update a security rule\n\nThe response is an object that has a key called `rule`. This key contain a standard `rule` object.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rule_id",
                        "in": "path",
                        "description": "Security rule unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "examples": {
                            "application/json": {
                                "rule": {
                                    "direction": "outbound",
                                    "protocol": "TCP",
                                    "ip_range": "0.0.0.0/0",
                                    "dest_port_from": null,
                                    "action": "drop",
                                    "position": 2,
                                    "dest_port_to": null,
                                    "editable": null,
                                    "id": "ef2136c9-6c21-491a-b238-b38de24726a7"
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieves a security rule",
                "description": "List an individual security rule\n\nThe response is an object that has a key called `rule`. This key contain a standard `rule` object.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "description": "Security group unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rule_id",
                        "in": "path",
                        "description": "Security rule unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "examples": {}
                    }
                },
                "summary": "Delete a security rule",
                "description": "Delete and deactivate a security rule\n\nThe response code is a 204, which means that the action was successful with no returned body data.\n\n",
                "tags": [
                    "Security groups"
                ],
                "parameters": [
                    {
                        "name": "group_id",
[...]
