block header


.container-fluid.navbar-scaleway-entries.navbar-fixed-top.navbar.navbar-color.navbar-inner(style="background: #fff")
  .navbar-header
    button.navbar-toggle.collapsed.navbar-scaleway-collapse(type='button', data-toggle='collapse', data-target='#navbar-scaleway-collapse', aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(href='https://scaleway.com')
      img(src='/images/scaleway.svg', style='width:50px; height:50px')
  #navbar-scaleway-collapse.collapse.navbar-collapse.navbar-scaleway-collapse
    ul.nav.navbar-nav.navbar-center
      li
        a(href='https://scaleway.com/pricing') Pricing
      li
        a(href='https://scaleway.com/features') Features
      li
        a(href='https://scaleway.com/faq')     Help
      li
        a(href='https://scaleway.com/imagehub')  ImageHub
      li
        a(href='https://scaleway.com/developer')     Developer
      li
        a(href='https://scaleway.com/blog')     Blog
    ul.nav.navbar-nav.navbar-right
      li
        a(href='https://cloud.scaleway.com/#/login',) Log In
      li
        a.navbar-signup(href='https://cloud.scaleway.com/#/signup') Sign up
